/* Import order is critical */
@import 'base.css';
@import 'animations.css';
@import 'layout.css';
@import 'components.css';

/* Page Specifics */
@import 'pages/home.css';
@import 'pages/shop.css';
@import 'pages/builder.css';
@import 'pages/about.css';